/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

// HOMEPAGE
.homePic {
  height: 50vh;
  width: 65vw;
  background-image: url('/assets/homeburgertemp.jpg');
  background-position: center;
  background-repeat: no-repeat;
}

.button {
  border-radius: 20px;
  border: 1.5px solid rgb(62, 62, 62);
  background-color: rgb(230, 230, 230);
  font-weight: bold;
  transition: 0.2s ease-in-out;
}

.button:hover {
  background-color: rgb(92, 92, 92);
  color:rgb(253, 253, 253)
}

.dropdown {
  background-color: #33ffd0;
  color: #2e2e2e;
  border-radius: 10px;
  height: 4vh;
  font-size: 1.7vmin;
}

.header {
  background-color: #2e2e2e;
  height: 6vh;
  width: 100%;
  top: 0;
  display: flex;
  position: fixed !important;
  z-index: 999 !important;
}