/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

// HOMEPAGE
.homePic {
  height: 50vh;
  width: 65vw;
  background-image: url('/assets/homeburgertemp.jpg');
  background-position: center;
  background-repeat: no-repeat;
}

.to-home {
  display:flex; 
  justify-content:flex-start;
  width:15vw;
  margin-left:15px;
  position:fixed;
  top:1.5vh;
  transition: 0.2s ease-in-out;
  color:rgb(12, 243, 255);
  cursor: pointer;
}

.to-home:hover {
  color: white;
}

.button {
  border-radius: 20px;
  border: 1.5px solid rgb(62, 62, 62);
  background-color: rgb(230, 230, 230);
  font-weight: bold;
  transition: 0.2s ease-in-out;
  height: 35px;
  width: 100px
}

.button:hover {
  background-color: rgb(92, 92, 92);
  color:rgb(253, 253, 253) !important;
}

.dropdown {
  background-color: rgb(12, 243, 255);
  color: #2e2e2e;
  border-radius: 10px;
  height: 4vh;
  font-size: 1.7vmin;
}

.header {
  background-color: #2e2e2e;
  height: 6vh;
  width: 100%;
  top: 0;
  display: flex;
  position: fixed !important;
  z-index: 999 !important;
}

.page-body {
  margin-top: 6vh;
}

// SHOW PAGE
.show-carousel {
  width: 70vw;
  min-width: 700px;
}

.menuLink {
  text-decoration: none;
  color: black !important;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.menuLink:hover {
  color: white !important;
}

.card-body {
  height: 250px !important;
}

.restaurant-name {
  color: rgb(7, 114, 255);
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.restaurant-name:hover {
  color:#4d4d4d
}

.logo {
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.logo:hover {
  opacity: 50%;
}

// Flicker
.flicker {
  font-family: 'sunglasstype';
  font-weight: bold;
  color: rgb(45, 108, 255);
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#ffffff), color-stop(0.8, #ffffff)) no-repeat;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  background: gradient(linear, left top, right top, from(rgb(254, 254, 254)), to(rgb(255, 255, 255)), color-stop(0.8, #fff)) no-repeat;
  background-size: 15px 100%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: flick 2s infinite;
  transition: 0.2s;
}
@keyframes flick {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.flicker:hover {
  color:rgb(12, 243, 255)
}


// NOT FOUND
.click-here {
  color:#fff;
  cursor: pointer;
  transition: 0.2s linear;
}

.click-here:hover {
  color:rgb(12, 243, 255)
}

// Hamburger

.animated-image {
  position: relative;
  animation: move-rotate 60s linear infinite;
}

@keyframes move-rotate {
  0% {
    transform: translateX(0) rotate(0);
  }
  10% {
    transform: translateX(20vw) translateY(0) rotate(36deg)
  }
  20% {
    transform: translateX(40vw) translateY(0) rotate(72deg)
  }
  30% {
    transform: translateX(60vw) translateY(0) rotate(108deg)
  }
  40% {
    transform: translateX(80vw) translateY(0) rotate(144deg)
  }
  50% {
    transform: translateX(95vw) translateY(0) rotate(180deg)
  }
  60% {
    transform: translateX(80vw) translateY(0) rotate(216deg)
  }
  70% {
    transform: translateX(60vw) translateY(0) rotate(252deg)
  }
  80% {
    transform: translateX(40vw) translateY(0) rotate(288deg)
  }
  90% {
    transform: translateX(20vw) translateY(0) rotate(324deg)
  }
  100% {
    transform: translateX(0) translateY(0) rotate(360deg)
  }
}

// Space Background
@keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}
@-webkit-keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-moz-keyframes move-background {    
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

    @-webkit-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

.background-container{
	position: fixed;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
}
.stars {
 background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
 position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
  	z-index: 0;
}

.twinkling{
	width:10000px;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    
    -moz-animation:move-background 70s linear infinite;
  -ms-animation:move-background 70s linear infinite;
  -o-animation:move-background 70s linear infinite;
  -webkit-animation:move-background 70s linear infinite;
  animation:move-background 70s linear infinite;
	
}