/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body {
  background: radial-gradient(circle at center, #1d3757 0%, #0c0d13 75%);
  color:rgb(196, 196, 196);
  height: 100vh;
  width: 100vw;
}

.login_page {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 3px;
}

.devise_links {
  display: flex;
  gap: 15px;
  // translate: 35%;
  margin-top: 30px
}

.card-text {
  color: black !important;
}

// HOMEPAGE

.to-home {
  display:flex; 
  justify-content:flex-start;
  width:15vw;
  margin-left:15px;
  position:fixed;
  top:1.5vh;
  transition: 0.2s ease-in-out;
  color:rgb(12, 243, 255);
  cursor: pointer;
}

.to-home:hover {
  color: white;
}

.button {
  border-radius: 20px;
  border: 1.5px solid rgb(62, 62, 62);
  background-color: rgb(230, 230, 230);
  font-weight: bold;
  transition: 0.2s ease-in-out;
  height: 35px;
  width: 100px
}

.button:hover {
  background-color: rgb(120, 120, 120);
  color:rgb(253, 253, 253) !important;
}

.dropdown {
  background-color: #757575;
  color: #ffffff;
  border-radius: 10px;
  border: 0.5px solid white;
  height: 4vh;
  font-size: 1.7vmin;
}

.header {
  background-color: #2e2e2e;
  height: 6vh;
  width: 100%;
  top: 0;
  display: flex;
  position: fixed !important;
  z-index: 999 !important;
}

.footer-text {
  text-decoration: none;
  color: #bfbfbf;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.footer-text:hover {
  color: rgb(252, 252, 252)
}

.page-body {
  margin-top: 6vh;
}

// SHOW PAGE
.show-carousel {
  width: 70vw;
  min-width: 700px;
}

.res-show {
  display: flex;
  justify-content: center;
  height: 22rem;
  max-width: 800px;
  margin-left: 4vw;
  margin-top: 4vh;
  box-shadow: rgb(203, 214, 255) -5px 5px 15px 5px;
  transition: width 0.5s linear
}

@media screen and (max-width: 1035px) {
  .res-show {
    width: 85%;
    transition: width 0.5s linear;
  }
}

@media screen and (min-width: 900px) {
  .show-card {
    width: 45rem
  }
}

@media screen and (max-width: 920px) {
  .about-description {
    width: 230px !important;
    font-size: small;
  }
  .circle {
    height: 150px !important;
    width: 150px !important
  }
}

@media screen and (min-width: 863px) {
  .res-index-card {
    width: 52rem
  }
}

.input-field {
  width: 40rem !important
}

@media screen and (max-width: 720px) {
  .input-field {
    width: 85vw !important
  }
}

.menuLink {
  text-decoration: none;
  color: black !important;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.menuLink:hover {
  color: white !important;
}

.card-body {
  height: fit-content !important;
}

.restaurant-name {
  color: rgb(1, 111, 255);
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.restaurant-name:hover {
  color:#4d4d4d
}

.logo {
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.logo:hover {
  opacity: 50%;
}

// Flicker
.flicker {
  font-family: 'sunglasstype';
  font-weight: bold;
  color: rgb(191, 191, 191);
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#ffffff), color-stop(0.8, #ffffff)) no-repeat;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  background: gradient(linear, left top, right top, from(rgb(254, 254, 254)), to(rgb(255, 255, 255)), color-stop(0.8, #fff)) no-repeat;
  background-size: 15px 100%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: flick 2s infinite;
  transition: 0.2s;
}
@keyframes flick {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.flicker:hover {
  color:rgb(255, 255, 255)
}


// NOT FOUND
.click-here {
  color:#fff;
  cursor: pointer;
  transition: 0.2s linear;
}

.click-here:hover {
  color:rgb(12, 243, 255)
}

// Hamburger

.animated-image {
  position: relative;
  animation: move-rotate 60s linear infinite;
}

@keyframes move-rotate {
  0% {
    transform: translateX(0) rotate(0);
  }
  10% {
    transform: translateX(20vw) translateY(0) rotate(36deg)
  }
  20% {
    transform: translateX(40vw) translateY(0) rotate(72deg)
  }
  30% {
    transform: translateX(60vw) translateY(0) rotate(108deg)
  }
  40% {
    transform: translateX(80vw) translateY(0) rotate(144deg)
  }
  50% {
    transform: translateX(95vw) translateY(0) rotate(180deg)
  }
  60% {
    transform: translateX(80vw) translateY(0) rotate(216deg)
  }
  70% {
    transform: translateX(60vw) translateY(0) rotate(252deg)
  }
  80% {
    transform: translateX(40vw) translateY(0) rotate(288deg)
  }
  90% {
    transform: translateX(20vw) translateY(0) rotate(324deg)
  }
  100% {
    transform: translateX(0) translateY(0) rotate(360deg)
  }
}

// Space Background
@keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}
@-webkit-keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-moz-keyframes move-background {    
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

    @-webkit-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

.background-container{
	position: fixed;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
}
.stars {
 background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
 position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
  	z-index: 0;
}

.twinkling{
	width:10000px;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    
    -moz-animation:move-background 70s linear infinite;
  -ms-animation:move-background 70s linear infinite;
  -o-animation:move-background 70s linear infinite;
  -webkit-animation:move-background 70s linear infinite;
  animation:move-background 70s linear infinite;
	
}

// Falling Stars

.home-body {
  body {
    min-height: 100vh;
     background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
    overflow: hidden;
  }
}

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

.stars2 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: rotate(-45deg) scale(1);
  overflow: hidden;
  z-index: -1;
}

.star {
  $star-count: 50;
  --star-color: whitesmoke;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  z-index: 10 !important;

  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;

  @for $i from 1 through $star-count {
    &:nth-child(#{$i}) {
      --star-tail-length: #{random_range(500em, 750em) / 100};
      --top-offset: #{random_range(0vh, 10000vh) / 100};
      --fall-duration: #{random_range(6000, 12000s) / 1000};
      --fall-delay: #{random_range(0, 10000s) / 1000};
    }
  }

  &::before, &::after {
    position: absolute;
    content: '';
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}

@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }

  70%, 80% {
    width: 0;
    opacity: 0.4;
  }

  100% {
    width: 0;
    opacity: 0;
  }
}

@keyframes blink {
  50% {
    opacity: 0.6;
  }
}
.carousel-item {
  height: 100%;
  width: 100%;
}
.carousel-image {
  height: 100%;
  width: 100%
}
.carousel-inner {
  height: 100%;
  width: 100%;
  overflow: hidden;
}


// Border
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  --border-size: 3px;
  --border-angle: 0turn;
  max-width: 500px;
  height: 33vh;
  background-image: conic-gradient(
      from var(--border-angle),
      #213,
      #112 50%,
      #213
    ),
    conic-gradient(from var(--border-angle), transparent 20%, rgb(223, 223, 223), rgb(11, 0, 82));
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;

  animation: bg-spin 3s linear infinite;
  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

// Gradient Border
.gradient-border {
  --border-width: 4px;

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      hsl(0, 0%, 87%),
      hsl(0, 0%, 87%),
      hsl(0, 0%, 25%),
      hsl(0, 0%, 25%),
      hsl(0, 0%, 87%),
      hsl(0, 0%, 87%),
      hsl(0, 0%, 25%),
      hsl(0, 0%, 25%),
      hsl(0, 0%, 87%),
      hsl(0, 0%, 87%),
      hsl(0, 0%, 25%),
      hsl(0, 0%, 25%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

// Spell Out
.header-container {
  opacity: 0;
  animation: fade-in-container 2s ease-in-out forwards;
}

.spelling-out {
  display: inline-block;
}

.spelling-out span {
  display: inline-block;
  opacity: 0;
  animation: spelling-out 2s ease-in-out forwards;
}

.spelling-out:nth-of-type(1) span {
  animation-delay: 1s;
}

.spelling-out:nth-of-type(2) span {
  animation-delay: 2s;
}

.spelling-out-2 span {
  display: inline-block;
  opacity: 0;
  animation: spelling-out 2s ease-in-out forwards;
}

.spelling-out-2:nth-of-type(1) span {
  animation-delay: 3s;
}

@keyframes spelling-out {
  from { opacity: 0; }
  to { opacity: 1; }
}

// Fade In
.fade-container {
  opacity: 0;
  animation: fade-in-container 1s ease-in-out forwards;
}

@keyframes fade-in-container {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
}

.fade-in:nth-of-type(1) {
  animation-delay: 4s;
}

.fade-in:nth-of-type(2) {
  animation-delay: 4.5s;
}

.fade-in:nth-of-type(3) {
  animation-delay: 5s;
}

.fade-in:nth-of-type(4) {
  animation-delay: 5.5s;
}

@keyframes fade-in {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: none; }
}

// ABOUT US

.circle {
  position: relative;
  transition: .3s;
  
}

.circle:before {
  content: "";
  position: absolute;
  inset: -8px;
  padding: 10px;
  border-radius: 50%;
  background: conic-gradient(
        #af4dff ,
        #0000 30deg 120deg,
        #00f8b2 150deg 180deg,
        #0000 210deg 300deg,
        #af4dff 330deg
    );
  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
          mask-composite: intersect
}
.circle:after {
  content: "";
  position: absolute;
  inset: -100px;
  background:
    radial-gradient(60px at left 350px top 200px,#af4dff 100%,#0000),
    radial-gradient(60px at right 350px bottom 200px,#00f8b2 100%,#0000);
  filter: blur(60px);
  opacity: .5;
}

.circle:before,
.circle:after {
  transition:.5s, 99999s 99999s transform;
}

.circle:hover:before,
.circle:hover:after {
  transform: rotate(36000deg);
  transition: .5s,600s linear transform;
}